#ban{
    Background-color: rgb(0,51,106);
}

#logoEntete{
    width:200px;
}
h1{
    color:red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav{
    background-color: red;
    margin-bottom:15px;
}

#navText{
    font:bold;
    color:white;
    font-size: 16px;
}


#background{
    position: fixed;
    width:100%;
    z-index: -1;
}

#contentBackground{
    background-color:rgba(225,225,225,0.8);
    
}

#encadreMatch{
    height:140px;
    width:800px; 
    border-Style:solid;
    margin-bottom:20px;
    margin-top:10px;
    background-color:white;

}
#linkInDark{
    color:black;
}

#infosEncadre{
    text-align: center;
    
}

#ContenuEncadre{
    font:bold;
}
#ContenuEncadreScore{
    font:bold;
    font-size: 50px;
}
#logoEquipe{
    width: 75px;
}
#encadreEvenement{
    height:50px;
    width:800px;
    border-Style:solid;
    margin-bottom:20px;
    background-color:white;
}
#TextEvenement{
    font:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top:10px;
}
#ligneFormulaire{
    padding-top:10px;
    padding-bottom:10px;
}

#terrain{
    background-image: url(/asset/img/terrain.png);
    background-size: cover;
  
}

#boxPoste{
    text-align: center;
}
#attaquant{
    padding-top:50px;
}
#milieu{
    padding-top: 450px;
}
#defense{
    padding-top: 200px;
}

#gardien{
    padding-top:200px;
}
#joueurASelectionner{
    position:fixed;
    border:black;
    border-style: solid;
    background-color: white;
}
#boxListeJoueur{
    height: 930px;
}
#dropZone_ailier_gauche{
    height:60px;
    width:190px;
}

#dropZone_avant_centre{
    height:60px;
    width:190px;
}

#dropZone_ailier_droit{
    height:60px;
    width:190px;
}

#dropZone_milieu_offensif{
    height:60px;
    width:190px;
}

#dropZone_milieu_gauche{
    height:60px;
    width:190px;
}

#dropZone_milieu_centre{
    height:60px;
    width:190px;
}
#dropZone_milieu_droit{
    height:60px;
    width:190px;
}
#dropZone_milieu_defensif{
    height:60px;
    width:190px;
}

#dropZone_arriere_gauche{
    height:60px;
    width:190px;
}

#dropZone_defenseur_central{
    height:60px;
    width:190px;
}

#dropZone_arriere_droit{
    height:60px;
    width:190px;
}

#dropZone_Gardien{
    height:60px;
    width:190px;
}
#JoueurDansListe{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font:bold;
}
#dropZone_remplacant{
    background-color: white;
    height:120px;
    width:190px;
}
#saveButton{
    margin-top:50px;
    background-color: cornflowerblue;
    color: white;
}
#troll{
    width:300px; margin:0 auto;
}
#trollLink{
    text-align: center;
    color: white;
}
#footer{
    height:50px;
    width:100%;
    Background-color: rgb(0,51,106);
    margin-top: 30px;
    position:fixed;
    bottom:0;
   
}
#spacebeforeFooter{
    margin-bottom:100px;
}